.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  /* adjust as per your logo */
  width: 100px;
}

.search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.stock-details {
  width: 100%;
  text-align: center;
}

.card {
  width: 50%;
  margin: auto;
}

.tabs {
  margin-top: 5vh;
}

::ng-deep .p-ink {
  height:2vh;
  width: 0.5vw;
}

::ng-deep .p-hidden-accessible > input {
  display: none;
}
