<div class="container">
  <div class="top-bar">
    <a routerLink="/">
      <div class="logo">
        <img src="assets/logo_not_bought.png" alt="Logo" class="logo">
      </div>
    </a>
    <div class="search">
      <app-search></app-search>
    </div>
  </div>
  <div *ngIf="stockData" class="stock-details">
    <h1>Price History of {{ ticker }}</h1>
    <div class="card">
      <p-chart type="line" [data]="stockDataChart" [options]="chartOptions"></p-chart>
      <div class="tabs">
        <p-tabView>
          <p-tabPanel header="Risk Management">
            <p-dropdown [options]="riskManagementTypes" [(ngModel)]="selectedRiskManagementType" optionLabel="label" [editable]="false" [filter]="false"></p-dropdown>
            <ng-container [ngSwitch]="selectedRiskManagementType.value">
              <app-sma-chart *ngSwitchCase="'sma'"></app-sma-chart>
              <app-rsi-chart *ngSwitchCase="'rsi'"></app-rsi-chart>
              <app-macd-chart *ngSwitchCase="'macd'"></app-macd-chart>
              <app-monte-carlo-chart *ngSwitchCase="'monte'"></app-monte-carlo-chart>
              <app-var *ngSwitchCase="'var'"></app-var>
            </ng-container>
          </p-tabPanel>

          <p-tabPanel header="Predictions">
            <p-dropdown [options]="chartTypes" [(ngModel)]="selectedChartType" optionLabel="label" [editable]="false" [filter]="false"></p-dropdown>
            <ng-container [ngSwitch]="selectedChartType.value">
              <app-prophet-chart *ngSwitchCase="'prophet'"></app-prophet-chart>
              <app-lstm-chart *ngSwitchCase="'lstm'"></app-lstm-chart>
              <app-gru-chart *ngSwitchCase="'gru'"></app-gru-chart>
              <app-cnn-chart *ngSwitchCase="'cnn'"></app-cnn-chart>
            </ng-container>
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>
  </div>
</div>
