.p-inputgroup {
  margin-top: 10vh;
  margin-left: 30%;
  width:40vw;
}

.p-inputgroup button {
  width: 30%;
}

.p-inputgroup input {
  width: 70%;
}

.charts {
  margin-top: 5vh;
  margin-left: 20vw;
  display:flex;
  flex-direction: row;
}

.charts app-chart, .charts app-chart2 {
  margin: 10px;
}

/*.portfolio {*/
/*  width: 80vw;*/
/*}*/
