.container {
  display: grid;
  justify-content: center;
  grid-gap: 5vh; /* change this value as per your needs */
  height: 100vh;
  padding: 5vh; /* this is to prevent items from sticking to the edges of the viewport */
}

.top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-row: 1;
}

.logo {
  margin-bottom: 5vh;
}

.search-container {
  /* margin-bottom no longer necessary as grid-gap handles spacing */
}

.recommendations-container {
  grid-row: 2;
}
